@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
	font-family: 'Roboto', sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
	height: 100vh;
}

/* Resets */
a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: rgb(101, 146, 206);
}

ul {
	margin: inherit;
	padding: inherit;
	list-style-type: none;
}

iframe {
	border: none;
}

input[type='text'] {
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type='text']:focus {
	color: #495057;
	background-color: #fff;
	border-color: #6591dc;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(36 81 158 / 25%);
}

button {
	line-height: 1.5;
	padding: 0.375rem 0.75rem;
	border-radius: 5px;
	outline: none;
}

/* Styles*/

h1 {
	padding: 20px 0;
	background-color: aliceblue;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.p-0 {
	padding: 0;
}

.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
